@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #D9E6ED;
    overflow-x: hidden;
}

textarea:disabled {
    background-color: white;
    overflow-y:hidden;
    margin-top: 10px;
    min-height: 30px;
    width: 100%;
    border: none;
    resize: none;
}

.visible {
    visibility: visible;
}

.not-visible {
    visibility: hidden;
}

/* 본문 */
#main>div.wrapper {
    max-width: 1260px;
}

article {
    width: 87%;
}

/* 헤더 */

header {
    background: #FAFBFC;
    border-bottom-style: solid;
    border-bottom-color: #5CBC00;
    border-bottom-width: 3.5px;
}

header>div.head {
    width: 65.5%;
    max-width: 1100px;
    height: 130px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

header>div.head>.title {
    display: flex;
    align-items: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

header>div.head>.title>h1 {
    z-index: 1;
    color: white;
    text-shadow: #4285F4 0px 2px, #4285F4 2px 0px, #4285F4 -2px 0px, 
    #4285F4 0px -2px, #4285F4 -1.4px -1.4px, #4285F4 1.4px 1.4px, 
    #4285F4 1.4px -1.4px, #4285F4 -1.4px 1.4px; 

}

header>div.head>.title #logoimg {
    height: 130px;
    position: absolute;
    top: -60px;
    left: -48px;
}

header>div.head .user-control.btn-group {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>div.head>.logo {
    height: 60px;
    display: flex;
    align-items: center;
    /* align-items: flex-end; */
}

header a.btn.question {
    /* background-color: #BCE308;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    /* width: 120px;


    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px; */
}

header #logoimg {
    opacity: 0.7;
}

/* 로그인 창 */

.modal-footer {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-dialog {
    margin-top: 150px;
}

.modal-footer::before {
    content: none;
}

.modal-footer::after {
    content: none;
}

footer {
    color: white;
}

#main>.wrapper {
    width: 65.5%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 600px;
}

a { text-decoration:none !important }

/* aside 공통 */

aside {
    width: 230px;
    margin-left: 15px;
    left: 95%;
    position: absolute;
}

aside>div {
    width: 100%;
    min-width: 180px;
    background: #FAFBFC;
    padding: 13px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

aside>div>div.head {
    width: 100%;
}

aside h3 {
    margin-top: 0;
    font-size: 18px;
}

/* 우수 답변자 */

/* aside>div>div.rank-head {
    color: white;
    background: #1DB51A;
    border-right: 13px solid #1DB51A;
    border-left: 13px solid #1DB51A;
    border-top: 13px solid #1DB51A;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
} */

.rank-box>div {
    width: 100%;
}

.rank-box>div>.rank-table {
    width: 100%;
}

.rank-box>div>.rank-table .rank-table-head {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

.rank-box>div>.rank-table .rank-table-item {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    font-weight: bold;
}


/* 카테고리 */
.category-box>.category-item {
    width: 100%;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
}

footer {
    background: #2A2730;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 100px;
}

footer>.container {
    width: 100%;
    text-align: right;
}

@media screen AND (max-width: 865px){
    header > div.head {
        width: 100%;
        align-items: flex-start;
    }

    header {
        display: flex;
    }

    header .title {
        position: absolute !important;
        width: 100%;
    }

    #logoimg {
        width: 100% !important;
        position: absolute !important;
        top:0 !important;
        left:0 !important;
    }    

    h1 {

    }

    #main>.wrapper {
        width: 100%;
        padding-top: 15px;
        display: flex;
        justify-content: center;
        position: relative;
        min-height: 600px;
    }
    /* .logo {
        position: absolute;
        top: 0;
        lefT: 0;
    }

    #user-container {
        position: absolute;
        top: 0;
        lefT: 0;
    } */
}

@media screen AND (max-width: 1360px){
    aside {
        display: none;
    }
}