@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #F5F5F5;
}

/* 본문 */
#main>div.wrapper {
    padding-bottom: 50px;
    padding-right: 50px;
    max-width: 1260px;
}

article {
    padding-top: 30px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

/* 헤더 */

header {
    background: white;
    border-bottom-style: ridge;
    border-bottom-color: #5CBC00;
    border-bottom-width: 3.5px;
}

header>div.head {
    width: 65.5%;
    max-width: 1100px;
    height: 130px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

header>div.head>.title {
    display: flex;
    align-items: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

header>div.head>.title>h1 {
    z-index: 1;
}

header>div.head>.title #logoimg {
    width: 180px;
    height: 150px;
    position: absolute;
    top: -70px;
    left: 65px;
}

header>div.head>.user-control.btn-group {
    width: 205px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>div.head>.logo {
    height: 60px;
    display: flex;
    align-items: center;
    /* align-items: flex-end; */
}

header a.btn.question {
    /* background-color: #BCE308;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    /* width: 120px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px; */
}

header #logoimg {
    opacity: 0.7;
}

/* 로그인 창 */

.modal-footer {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-dialog {
    margin-top: 150px;
}

.modal-footer::before {
    content: none;
}

.modal-footer::after {
    content: none;
}

footer {
    color: white;
}

#main>.wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
}


/* aside 공통 */

aside {
    width: 180px;
    padding-top: 30px;
}

aside>div {
    width: 100%;
    min-width: 140px;
    background: white;
    padding: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

aside>div>div.head {
    width: 100%;
    color: #1DB51A;
}

aside>div>div.head>h3 {
    margin-top: 0;
    font-size: 18px;
}

/* 우수 답변자 */

/* aside>div>div.rank-head {
    color: white;
    background: #1DB51A;
    border-right: 13px solid #1DB51A;
    border-left: 13px solid #1DB51A;
    border-top: 13px solid #1DB51A;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
} */

.rank-box>div {
    width: 100%;
}

.rank-box>div>.rank-table {
    width: 100%;
}

.rank-box>div>.rank-table .rank-table-head {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

.rank-box>div>.rank-table .rank-table-item {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    font-weight: bold;
}


/* 카테고리 */
.category-box>.category-item {
    width: 100%;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
}

@media (max-width: 1360px){
    aside {
        display: none;
    }
}