div.wrapper div.container {
    background: white;
}

article div.container {
    padding: 0 24px;
}

div.wrapper>div.question {
    width: 100%;
    border: none;
    border-radius: 2px;
    padding-bottom: 13px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#question-container .footer-group {
    color: rgb(119, 119, 119);
}

#question-container .footer-group>ul.tags {
    list-style: none;
    -webkit-padding-start: 0px;
    margin-top: 10px;
}

#question-container .footer-group>ul.tags>li {
    display: inline;
}

.reply-card.container {
    position: relative;
}

textarea {
    min-height: 100px !important;
}

div.wrapper>div.reply-box {
    width: 100%;
}

div.wrapper>div.reply-box>.reply-card {
    width: 100%;
    border: none;
    border-radius: 2px;
    padding-bottom: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin-top: 15px;
}

.reply-title-group {
    display: flex;
    justify-content: space-between
}

.reply-title-group>.page-header h3>.label {
    padding: .0em .4em .0em;
}

.reply-title-group .page-header {
    margin: 0;
    border-bottom: none;
    position: relative;
}

.reply-title-group .page-header>span.special {
    position: absolute;
    top: -5px;
    left: -20px;
    height: 20px;
    font-size: 12px;
    font-weight: normal;
    background: #FF9800;
}

.reply-title-group .page-header small {
    font-size: .5em;
}

#write-box {
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin-top: 15px;
}

#write-box>.write>textarea {
    border: none;
    resize: none;
    height: 100px;
    width: 100%;
}

.reply-footer-group {
    display: flex;
    align-items: flex-end;
    justify-content: space-between
}

.reply-footer-group .vote-group .score {
    text-align: right;
}

.reply-footer-group .vote-group .score>h2 {
    margin-top: 0px;
    position: relative;
    top: -20px;
    margin-bottom: 5px;
}

.reply-footer-group .vote-group a {
    width: 80px;
    height: 30px;
    padding: 1.5px;
}

.reply-footer-group .vote-group a>img {
    margin : 1px;
    height: 100%;
}    